<header class="topbar">

    <div>
        <h1>Entregas</h1>
        <p>Registra la entrega física de equipos aprobados.</p>
    </div>

    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" class="logout-btn">
            Cerrar sesión
        </button>
    </form>

</header>

<section class="inventory-header">

    <div>
        <h2>Solicitudes aprobadas pendientes de entrega</h2>
        <p>Equipos reservados listos para ser entregados.</p>
    </div>

    <button
        type="button"
        class="secondary-action"
        hx-get="{% url 'prestamos:admin_inicio' %}"
        hx-target="#app-main"
        hx-swap="innerHTML"
        hx-push-url="true">
        ← Volver a préstamos
    </button>

</section>

<section class="inventory-table-card">

    <table class="inventory-table">
        <thead>
            <tr>
                <th>Solicitante</th>
                <th>Carnet</th>
                <th>Equipo</th>
                <th>Entrega programada</th>
                <th>Días préstamo</th>
                <th>Acción</th>
            </tr>
        </thead>

        <tbody>
            {% for solicitud in solicitudes %}
                <tr>
                    <td>{{ solicitud.usuario.perfil.nombre_completo }}</td>

                    <td>{{ solicitud.usuario.perfil.carnet }}</td>

                    <td>
                        {{ solicitud.equipo.nombre }}
                        <br>
                        <small>{{ solicitud.equipo.codigo }}</small>
                    </td>

                    <td>{{ solicitud.fecha_entrega_programada|date:"d/m/Y" }}</td>

                    <td>{{ solicitud.dias_prestamo }}</td>

                    <td>
                        <button
                            type="button"
                            class="table-btn success"
                            hx-get="{% url 'prestamos:registrar_entrega_modal' solicitud.id %}"
                            hx-target="#modal-container"
                            hx-swap="innerHTML">
                            Registrar entrega
                        </button>
                    </td>
                </tr>

            {% empty %}
                <tr>
                    <td colspan="6" class="empty-table">
                        No hay entregas pendientes.
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</section>

<div id="modal-container"></div>