{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="dashboard-layout">

    <aside class="sidebar">

        <div class="brand">
            <img src="{% static 'img/campbell_logo.png' %}" alt="Logo Colegio">

            <div>
                <h4>Control IT</h4>
                <span>Alexander Campbell</span>
            </div>
        </div>

        <nav class="menu">
            <p>MENÚ PRINCIPAL</p>

            <div class="menu-links">

                <div class="menu-indicator"></div>

                <a
                    href="{% url 'dashboard' %}"
                    class="{% if active_page == 'dashboard' %}active{% endif %}"
                    data-page="dashboard"
                    hx-get="{% url 'dashboard' %}"
                    hx-target="#app-main"
                    hx-swap="innerHTML"
                    hx-push-url="true">
                    <span>▦</span>
                    Dashboard
                </a>

                {% if request.user.perfil.rol == 'admin_ti' %}

                    <a
                        href="{% url 'inventario:lista' %}"
                        class="{% if active_page == 'inventario' %}active{% endif %}"
                        data-page="inventario"
                        hx-get="{% url 'inventario:lista' %}"
                        hx-target="#app-main"
                        hx-swap="innerHTML"
                        hx-push-url="true">
                        <span>💻</span>
                        Inventario
                    </a>
                    <a
                     href="{% url 'prestamos:admin_inicio' %}"
                     class="{% if active_page == 'prestamos_admin' %}active{% endif %}"
                     data-page="prestamos_admin"
                     hx-get="{% url 'prestamos:admin_inicio' %}"
                     hx-target="#app-main"
                     hx-swap="innerHTML"
                     hx-push-url="true">
                     <span>📦</span>
                     Préstamos
                     </a>
                {% elif request.user.perfil.rol == 'usuario' %}

                <a
                     href="{% url 'prestamos:solicitar' %}"
                     class="{% if active_page == 'solicitar_prestamo' %}active{% endif %}"
                     data-page="solicitar_prestamo"
                     hx-get="{% url 'prestamos:solicitar' %}"
                     hx-target="#app-main"
                     hx-swap="innerHTML"
                     hx-push-url="true">
                     <span>📩</span>
                     Solicitar préstamo
                </a>

                <a
                 href="{% url 'prestamos:mis_solicitudes' %}"
                 class="{% if active_page == 'mis_solicitudes' %}active{% endif %}"
                 data-page="mis_solicitudes"
                 hx-get="{% url 'prestamos:mis_solicitudes' %}"
                 hx-target="#app-main"
                 hx-swap="innerHTML"
                 hx-push-url="true">
                 <span>📋</span>
                 Mis solicitudes
                </a>

                {% endif %}

                <a
                    href="{% url 'alertas:lista' %}"
                    class="{% if active_page == 'alertas' %}active{% endif %}"
                    data-page="alertas"
                    hx-get="{% url 'alertas:lista' %}"
                    hx-target="#app-main"
                    hx-swap="innerHTML"
                    hx-push-url="true">
                    <span>🔔</span>
                    Alertas

                    {% if tiene_alertas_nuevas %}
                        <span class="sidebar-notification-dot"></span>
                    {% endif %}
                </a>

            </div>
        </nav>

        <div class="sidebar-user">
            <div class="avatar">
                {{ request.user.username|slice:":1"|upper }}
            </div>

            <div>
                <strong>{{ request.user.username }}</strong>

                {% if request.user.perfil.rol == 'admin_ti' %}
                    <small>Administrador TI</small>
                {% elif request.user.perfil.rol == 'usuario' %}
                    <small>Usuario solicitante</small>
                {% else %}
                    <small>Usuario activo</small>
                {% endif %}
            </div>
        </div>

    </aside>

    <main class="main-content" id="app-main">
        {% include content_template %}
    </main>

</div>

{% endblock %}