{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="dashboard-layout">

    <aside class="sidebar">

        <div class="brand">
            <img src="{% static 'img/campbell_logo.png' %}" alt="Logo Colegio">

            <div>
                <h4>Control IT</h4>
                <span>Alexander Campbell</span>
            </div>
        </div>

        <nav class="menu">
            <p>MENÚ PRINCIPAL</p>

            <a href="#" class="active">
                <span>▦</span>
                Dashboard
            </a>

         <a href="{% url 'inventario:lista' %}" >
                <span>💻</span>
                Inventario
            </a>

            <a href="#">
                <span>📋</span>
                Préstamos
            </a>

            <a href="#">
                <span>🛠</span>
                Averías
            </a>

            <a href="#">
                <span>📚</span>
                Historial
            </a>

            <a href="#">
                <span>🔔</span>
                Alertas
            </a>
        </nav>

        <div class="sidebar-user">
            <div class="avatar">
                {{ request.user.username|slice:":1"|upper }}
            </div>

            <div>
                <strong>{{ request.user.username }}</strong>
                <small>Usuario activo</small>
            </div>
        </div>

    </aside>

    <main class="main-content">

        <header class="topbar">

            <div>
                <h1>Dashboard</h1>
                <p>Bienvenido, {{ request.user.username }}</p>
            </div>

           <form method="post" action="{% url 'logout' %}">
             {% csrf_token %}
            <button type="submit" class="logout-btn">
              Cerrar sesión
             </button>
            </form>

        </header>

        <section class="hero-panel">

            <img src="{% static 'img/campbell_logo.png' %}" alt="Logo Colegio">

            <div>
                <h2>Colegio Alexander Campbell</h2>
                <h3>Control IT</h3>
            </div>

        </section>

        <section class="module-grid">

           <a href="{% url 'inventario:lista' %}" class="module-card">
                <span>💻</span>
                <h3>Inventario</h3>
            </a>

            <a href="#" class="module-card">
                <span>📋</span>
                <h3>Préstamos</h3>
            </a>

            <a href="#" class="module-card">
                <span>🛠</span>
                <h3>Averías</h3>
            </a>

            <a href="#" class="module-card">
                <span>📚</span>
                <h3>Historial</h3>
            </a>

            <a href="#" class="module-card">
                <span>🔔</span>
                <h3>Alertas</h3>
            </a>

        </section>

    </main>

</div>

{% endblock %}