{% load static %}

<header class="topbar">

    <div>
        <h1>Dashboard</h1>
        <p>Bienvenido, {{ request.user.username }}</p>
    </div>

    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" class="logout-btn">
            Cerrar sesión
        </button>
    </form>

</header>

<div class="page-body">

    <section class="hero-panel">

        <img src="{% static 'img/campbell_logo.png' %}" alt="Logo Colegio">

        <div>
            <h2>Colegio Alexander Campbell</h2>
            <h3>Control IT</h3>
        </div>

    </section>

    {% if request.user.perfil.rol == 'admin_ti' %}

        <section class="module-grid">

            <a
                href="{% url 'inventario:lista' %}"
                class="module-card"
                data-page="inventario"
                hx-get="{% url 'inventario:lista' %}"
                hx-target="#app-main"
                hx-swap="innerHTML"
                hx-push-url="true">
                <span>💻</span>
                <h3>Inventario</h3>
            </a>

            <a
                href="{% url 'prestamos:admin_inicio' %}"
                class="module-card"
                data-page="prestamos_admin"
                hx-get="{% url 'prestamos:admin_inicio' %}"
                hx-target="#app-main"
                hx-swap="innerHTML"
                hx-push-url="true">
                <span>📋</span>
                <h3>Préstamos</h3>
            </a>

            <a
                 href="{% url 'averias:admin_lista' %}"
                 class="module-card"
                 data-page="averias_admin"
                 hx-get="{% url 'averias:admin_lista' %}"
                 hx-target="#app-main"
                 hx-swap="innerHTML"
                 hx-push-url="true">
                 <span>🛠</span>
                 <h3>Averías</h3>
            </a>

            <a
                 href="{% url 'historial:inicio' %}"
                 class="module-card"
                 data-page="historial"
                 hx-get="{% url 'historial:inicio' %}"
                 hx-target="#app-main"
                 hx-swap="innerHTML"
                 hx-push-url="true">
                 <span>📚</span>
                 <h3>Historial</h3>
            </a>

            <a
                href="{% url 'alertas:lista' %}"
                class="module-card"
                data-page="alertas"
                hx-get="{% url 'alertas:lista' %}"
                hx-target="#app-main"
                hx-swap="innerHTML"
                hx-push-url="true">
                <span>🔔</span>
                <h3>
                    Alertas
                    {% if tiene_alertas_nuevas %}
                        <span class="notification-dot"></span>
                    {% endif %}
                </h3>
            </a>

        </section>

    {% elif request.user.perfil.rol == 'usuario' %}

        <section class="module-grid">

            <a href="#" class="module-card">
                <span>📚</span>
                <h3>Historial de mis préstamos</h3>
            </a>

            <a
                href="{% url 'prestamos:mis_solicitudes' %}"
                class="module-card"
                data-page="mis_solicitudes"
                hx-get="{% url 'prestamos:mis_solicitudes' %}"
                hx-target="#app-main"
                hx-swap="innerHTML"
                hx-push-url="true">
                <span>📋</span>
                <h3>Mis solicitudes</h3>
            </a>
            <a
                 href="{% url 'averias:reportar' %}"
                 class="module-card"
                 data-page="reportar_averia"
                 hx-get="{% url 'averias:reportar' %}"
                 hx-target="#app-main"
                 hx-swap="innerHTML"
                 hx-push-url="true">
                <span>🛠</span>
                <h3>Reportar avería</h3>
            </a>
            <a
                href="{% url 'alertas:lista' %}"
                class="module-card"
                data-page="alertas"
                hx-get="{% url 'alertas:lista' %}"
                hx-target="#app-main"
                hx-swap="innerHTML"
                hx-push-url="true">
                <span>🔔</span>
               <h3>
                    Alertas
                    {% if tiene_alertas_nuevas %}
                         <span class="notification-dot"></span>
                    {% endif %}
               </h3>
            </a>

        </section>

    {% endif %}

</div>