{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Control IT</title>

    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>

<div class="login-container">

    <div class="login-card">

        <img src="{% static 'img/campbell_logo.png' %}" alt="Logo Colegio" class="login-logo">

        <h1>Control IT</h1>
        <p>Colegio Alexander Campbell</p>

        {% if form.errors %}
            <div class="error-box">
                Usuario o contraseña incorrectos.
            </div>
        {% endif %}

        <form method="post">
            {% csrf_token %}

            <div class="form-group">
                <label>Usuario</label>
                <input type="text" name="username" required>
            </div>

            <div class="form-group">
                <label>Contraseña</label>
                <input type="password" name="password" required>
            </div>

            <button type="submit" class="login-btn">
                Iniciar sesión
            </button>
        </form>

    </div>

</div>

</body>
</html>