<section class="inventory-table-card" id="inventory-table-wrapper">

    <table class="inventory-table">
        <thead>
            <tr>
                <th>Código</th>
                <th>Equipo</th>
                <th>Categoría</th>
                <th>Marca</th>
                <th>Estado</th>
                <th>Ubicación</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody>
            {% for equipo in equipos %}
                <tr>
                    <td>{{ equipo.codigo }}</td>
                    <td>{{ equipo.nombre }}</td>
                    <td>{{ equipo.get_categoria_display }}</td>
                    <td>{{ equipo.marca }}</td>
                    <td>
                        <span class="status {{ equipo.estado }}">
                            {{ equipo.get_estado_display }}
                        </span>
                    </td>
                    <td>{{ equipo.ubicacion }}</td>
                    <td>
                        <button
                            type="button"
                            class="table-btn"
                            hx-get="{% url 'inventario:detalle' equipo.id %}"
                            hx-target="#modal-container"
                            hx-swap="innerHTML">
                            Ver
                        </button>

                        <button
                            type="button"
                            class="table-btn"
                            hx-get="{% url 'inventario:editar' equipo.id %}"
                            hx-target="#modal-container"
                            hx-swap="innerHTML">
                            Editar
                        </button>

                        <button
                             type="button"
                             class="table-btn danger"
                             hx-post="{% url 'inventario:desactivar' equipo.id %}"
                             hx-confirm="¿Seguro que deseas eliminar este equipo del inventario ?"
                             hx-target="#app-main"
                             hx-swap="innerHTML">
                             Eliminar
                        </button>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="7" class="empty-table">
                        No hay equipos registrados.
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</section>