<header class="topbar">

    <div>
        <h1>Inventario</h1>
        <p>Gestión visual de equipos tecnológicos.</p>
    </div>

    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" class="logout-btn">
            Cerrar sesión
        </button>
    </form>

</header>

<div class="page-body">

    <section class="inventory-header">

        <div>
            <h2>Equipos registrados</h2>
            <p>Consulta, filtra y administra los equipos tecnológicos.</p>
        </div>

        <button
            type="button"
            class="primary-action"
            hx-get="{% url 'inventario:crear' %}"
            hx-target="#modal-container"
            hx-swap="innerHTML">
            + Registrar equipo
        </button>

    </section>

    <section class="inventory-tools">

        <div class="search-box">
           <input
                type="text"
                name="q"
                value="{{ busqueda }}"
                placeholder="Buscar por nombre, código, marca o ubicación..."
                hx-get="{% url 'inventario:lista' %}"
                hx-target="#inventory-table-wrapper"
                hx-trigger="keyup changed delay:350ms"
                hx-include="this"
                hx-vals='{"partial": "tabla"}'>
        </div>

        <select>
            <option>Todos los estados</option>
            <option>Disponible</option>
            <option>Prestado</option>
            <option>Averiado</option>
            <option>Mantenimiento</option>
        </select>

        <select>
            <option>Todas las categorías</option>
            <option>Laptop</option>
            <option>Proyector</option>
            <option>Tablet</option>
            <option>Accesorio</option>
        </select>

    </section>

    {% include 'pages/inventario/includes/tabla_equipos.html' %}

    <div id="modal-container"></div>

</div>