<header class="topbar">

    <div>
        <h1>Inventario</h1>
        <p>Gestión visual de equipos tecnológicos.</p>
    </div>

    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" class="logout-btn">
            Cerrar sesión
        </button>
    </form>

</header>

<div class="page-body">

    <section class="inventory-header">

        <div>
            <h2>Equipos registrados</h2>
            <p>Consulta, filtra y administra los equipos tecnológicos.</p>
        </div>

        <button
            type="button"
            class="primary-action"
            hx-get="{% url 'inventario:crear' %}"
            hx-target="#modal-container"
            hx-swap="innerHTML">
            + Registrar equipo
        </button>

    </section>

    <section class="inventory-tools">

        <div class="search-box">
            <input type="text" placeholder="Buscar por nombre, código o categoría...">
        </div>

        <select>
            <option>Todos los estados</option>
            <option>Disponible</option>
            <option>Prestado</option>
            <option>Averiado</option>
            <option>Mantenimiento</option>
        </select>

        <select>
            <option>Todas las categorías</option>
            <option>Laptop</option>
            <option>Proyector</option>
            <option>Tablet</option>
            <option>Accesorio</option>
        </select>

    </section>

    <section class="inventory-table-card">

        <table class="inventory-table">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Equipo</th>
                    <th>Categoría</th>
                    <th>Marca</th>
                    <th>Estado</th>
                    <th>Ubicación</th>
                    <th>Acciones</th>
                </tr>
            </thead>

            <tbody>
    {% for equipo in equipos %}
        <tr>
            <td>{{ equipo.codigo }}</td>
            <td>{{ equipo.nombre }}</td>
            <td>{{ equipo.get_categoria_display }}</td>
            <td>{{ equipo.marca }}</td>
            <td>
                <span class="status {{ equipo.estado }}">
                    {{ equipo.get_estado_display }}
                </span>
            </td>
            <td>{{ equipo.ubicacion }}</td>
            <td>
                <button class="table-btn">Ver</button>
                <button class="table-btn">Editar</button>
            </td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="7" class="empty-table">
                No hay equipos registrados todavía.
            </td>
        </tr>
    {% endfor %}
</tbody>
        </table>

    </section>

    <div id="modal-container"></div>

</div>