{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control IT</title>

    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/inventario.css' %}">
    <link rel="stylesheet" href="{% static 'css/transitions.css' %}">
</head>

<body>

    {% block content %}
    {% endblock %}

    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <script src="{% static 'js/inventario.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/transitions.js' %}"></script>

</body>
</html>